<div class="container education-container">
<h3>{{ site.education_title | default: "Education" }}</h3>
  {% for education in site.data.education %}
    <div class="row clearfix education">
	    {%- if education.logo -%}
      <div class="col-xs-12 col-sm-4 col-md-3 no-print">
        <span class="company-logo" style="background-image: url({{ education.logo | relative_url }})" />
      </div>
    {%- endif -%}
      <div class="{{ 'col-xs-12 ' }}{%- if education.logo -%}col-sm-8 col-md-9 col-print-12{%- endif -%}">
        <h4 class="name">
          {{ education.qualification }}
          </h4>
        <p>{%- if education.link -%}
            <a href="http://{{ education.link }}" target="_blank">
          {%- endif -%}
            {{ education.name }}
          {%- if education.link -%}
            </a>
          {%- endif -%}</p>
        <p>{{ education.dates }}</p>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
        {%- if education.quote -%}
          <p class="quote">{{ education.quote }}</p>
	    {%- endif -%}
		  
        {%- if education.link -%}
			<p>
            <a href="http://{{ education.link }}" target="_blank">
            {{ education.link_name | default: "Presentation Video "}}
            </a>
          </p>
        {%- endif -%}
        {{ education.description | strip | markdownify }}
      </div>
    </div>
  {% endfor %}
</div>
